body {
    font-family: 'Roboto', sans-serif;
    text-align: Left;
}
.topper {
    display:flex;
    justify-content: center;
    width: 300px;
    margin: auto;
    padding: 20px;
}
.resolution {
    width: 30%;
    background-color: rgb(119, 121, 121);
    color: darkslategray
}
.container{
    width: 300px;
    margin: auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

label {
    display: block;
}
a {
    text-decoration: none;
}
input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.continue {
    padding: 10px;
    width:100%;
    background-color: #dbd810;
    align-items: center;
    border-color: #ccc;
   }

.container2 {
    position: relative;
    width: 300px;
    margin: auto;
    padding: 20px;
    }
.text {
    position: absolute;
    top: 20px;
    left: 110px;
    background-color: white;
}
.button-container{
    align-items: center;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
}
.create {
    width: 300px;
    background-color: rgba(235, 235, 235, 0.527);
    border: 1px solid lightslategrey;
    color: darkslategray
    }

hr {
    border: 1px solid #696969;
    width: 100%;
}
.list-container {
    text-align: center;
    }

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    margin-right: 20px;
}